<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>{{title}}</title>
    <style>

    </style>
</head>

<body>
    <table>
        <tr>
            <td>
                {{app_name}}
            </td>
        </tr>
        <tr>
            <td>
                <p>Default mail</p>
            </td>
        </tr>
    </table>
</body>

</html>